<div class="row">
  <div class="column">
    <div class="card">
      <img src="" alt="Name" style="width:100%">
      <div class="container">
        <h2>Admin 1</h2>
        <p class="title">Admin 1</p>
        <p>Description.</p>
        <p>Email</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="" alt="Name" style="width:100%">
      <div class="container">
        <h2>Admin 2</h2>
        <p class="title">Admin 2 </p>
        <p>Description</p>
        <p>email</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="" alt="Admin 3" style="width:100%">
      <div class="container">
        <h2>Admin 3</h2>
        <p class="title">Admin 3</p>
        <p>Description</p>
        <p>email</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
