<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the DNHS WASC Home Page!</h1>

    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Del_norte_wiki.png" alt="DNHS Map.jpg" width = "950px" usemap="#map"></a>
    <map name="solar">
        <area shape="rect" coords="100,200,500,500" alt="Mercury" href="computer.htm">
        <area shape="rect" coords="175,250,200,300" alt="Venus" href="computer.htm">
        <area shape="rect" coords="250,200,290,330" alt="Earth" href="computer.htm">
        <area shape="rect" coords="325,250,350,300" alt="Mars" href="computer.htm">
        <area shape="rect" coords="400,150,600,375" alt="Jupiter" href="computer.htm">
        <area shape="rect" coords="625,100,875,450" alt="Saturn">
        <area shape="rect" coords="880,200,980,350" alt="Uranus">
        <area shape="rect" coords="1005,200,1105,350" alt="Neptune">
        <area shape="rect" coords="1145,200,1175,350" alt="Pluto">
    </map>
</body>
</html>