<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the DNHS WASC Home Page!</h1>

    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Del_norte_wiki.png" alt="DNHS Map.jpg" width = "950px" usemap="#map"></a>
    <map name="map">
        <area shape="rect" coords="390,300,425,350" alt="Mercury" href="https://www.powayusd.com/en-US/Schools/HS/DNHS/Home" target="_blank">
        <area shape="rect" coords="250,300,200,400" alt="Venus" href="b.htm" target="_blank">
        <area shape="rect" coords="250,200,290,330" alt="Earth" href="c.htm" target="_blank">
        <area shape="rect" coords="325,250,350,300" alt="Mars" href="d.htm" target="_blank">
        <area shape="rect" coords="400,150,600,375" alt="Jupiter" href="e.htm" target="_blank">
        <area shape="rect" coords="625,100,875,450" alt="Saturn">
        <area shape="rect" coords="880,200,980,350" alt="Uranus">
        <area shape="rect" coords="1005,200,1105,350" alt="Neptune">
        <area shape="rect" coords="1145,200,1175,350" alt="Pluto">
    </map>
</body>
</html>